
  <head>
    <title> Digital potafoio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<p style="color: green"><%= notice %></p>
<br />
<br />
<h1>Skills</h1>

<div id="skills">
  <% @skills.each do |skill| %>
    <%= render skill %>
    <p>
      <%= link_to "Show this skill", skill %>
    </p>
  <% end %>
</div>

<%= link_to "New skill", new_admin_skill_path %>
